# Ignorar entornos virtuales
venv/
env/
myenv/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de distribución
*.egg
*.egg-info
dist/
build/